<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs', {title: 'Productos por categoría '}) %>
<!-- /Head -->

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- /Header -->

    <!-- Main (Productos) -->
    <main class="main-index">
  
       <% categories.forEach(category => {%>
                <h3 class="titulo-main-index"><%=category.nombre%></h3>
       <%})%>
            <div class="bar-ccb" id="cc-bar"></div>
            <div class="linea"></div>
            
            <!-- Sección: Productos por categoría -->
            <section class="sec-products">

                <div class="products">
                    <% if (products.length >0 ) {
                        products.forEach(product => {
			       
                    %>

                        <!-- Card -->
                        <article class="last-tec">
                            <a href="/products/detail/<%= product.id %>">
                                
                                <div class="linea-blanca"></div>
                                <div class="main-card-img">
                                    <img src="/images/products/<%= product.imagen %>" alt="Imagen del producto" class="product_img">
                                </div>
                                <div class="linea-blanca"></div>
                            </a>
                            <div class="bar-ggr" id="gg-bar"></div>

                            <div class="main-article">
                                <div class="min-row">
                                    <button class="buttAgregar2">
                                        <a href="/carrito/addItem/<%= product.id %>" style="text-decoration: none; color:grey;"><i class="fa-solid fa-cart-plus" id="crtct" style="font-size: 1.2em"></i></a>
                                      </button>
      
                                    <p class="discount"><%= product.descuento%>% off</p>
                                </div>
                                <p type="number" class="price">$ <%= toThousand(product.precio) %></p>
                                <h4 class="description2"><%= product.nombre %></h4>
                            </div>
                        </article>
                        
                        <% }); %>
                        <%  let u = 4 - (products.length % 4);
                            for(let i = 0; i < u && u != 4 ; i++) { %>
                            <!-- GhostCard (Completando la fila de 4)-->
                            <div class="bocadito-ghostcard"><img src="/desing/iconos/ghostcard.png"/></div>
                        <% }%>
                
                <% } else { %>
                                       
                    <div class="msg bad-search">
                        <img src="/desing/iconos/sad-icon.png" alt="carita triste" />
                        <h4>No disponemos de productos para esta categoria</h4>
                    </div> 
                    <% }%>
                </div>
            </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
</body>
</html>