<!DOCTYPE html>
<html>

<!-- Head -->
<%- include('../partials/head.ejs', {title: 'Detalle del producto'}) %>
<!-- /Head -->

<body>

    <!-- Header -->
	<%- include('../partials/header.ejs') %>
    <!-- /Header -->

    <div class="linea"></div>

	<!-- Div (Create) -->
	<div class="container-products-wrapper">
		
		<!-- Form (Create) -->
		<div class="form-crud-wrap">
			<form action="/products/create" method="POST" enctype="multipart/form-data">
				<fieldset>
					<legend> Carga de Productos: </legend>
					<div class="media-linea"></div>
					<div class="row-product-detail">
						<div class="form-crud form-crud-m1">
							<label for="name" class="form-label">Nombre del producto:</label>
							<input type="text" id="name" name="name" placeholder="Ej: Monitor..." class="form-input" 
							value="<%= locals.old && old.name ? old.name : '' %>">
							<%  if (locals.errores && errores.name) { %>
								<div class="text-danger">
									<%= errores.name.msg %>
								</div>
							<% } %>
						</div>
						<div class="form-crud form-crud-m2">
							<label for="price" class="form-label">Precio:</label>
							<input type="number" id="price" name="price" placeholder="Ej: 9999..." class="form-input">
						</div>
					</div>
					<div class="row-product-detail">
						<div class="form-crud form-crud-m3">
							<label for="discount" class="form-label">Descuento:</label>
							<input type="number" id="discount" name="discount" placeholder="Ej: 5..." class="form-input">
						</div>
						<div class="form-crud form-crud-m3">
							<label for="stock" class="form-label">Stock:</label>
							<input type="number" id="stock" name="stock" placeholder="Ej: 10..." class="form-input">
						</div>
						<div class="form-crud form-crud-m3">
							<label for="category" class="form-label">Categoría:</label>
							<select name="category" id="category" class="form-input">
								<option value=""hidden>Seleccionar un Categoria</option>
								
								<% for (const categoria of categorias){ %>

									<option value="<%= categoria.id%>"><%= categoria.nombre%></option>
									

								<% } %>
							</select>
						</div>
					</div>
					<div class="linea"></div>
					<div class="row-product-detail">
						<div class="form-crud form-crud-md">
							<label for="promo" class="form-label">En Promoción?</label>
							<select name="promo" id="promo" class="form-input">
								<option value=""hidden>Elegí una Promoción</option>
								
								<% for (const promo of promos){ %>

									<option value="<%=promo.id%>"><%= promo.nombre %></option>
										
								<% } %>
							</select>
							<label for="user" class="form-label" style="display: none">Usuario</label>
							<input type="number" id="user" name="user"  class="form-input" value= "1"style="display: none">
							<div class="linea"></div>						
							<div class="linea"></div>
							
							<label for="description" class="form-label">Descripción:</label>
							<textarea name="description" id="description" class="form-input" 
							value="<%= locals.old && old.description ? old.description : '' %>"><%= locals.old && old.description ? old.description : '' %></textarea>
							<%  if (locals.errores && errores.description) { %>
								<div class="text-danger">
									<%= errores.description.msg %>
								</div>
							<% } %>
							<div class="linea"></div>
							<div class="linea"></div>
							<label for="image" class="form-label">Foto del producto:</label>
                            <input type="file" name="image" id="seleccionArchivos" accept="image/*">
							<%  if (locals.errores && errores.image) { %>
								<div class="text-danger">
									<%= errores.image.msg %>
								</div>
							<% } %>
						</div>

						<div class="form-crud form-crud-md">
                            <div class="img-detail">
                                <div class="media-linea"></div>

                                <!-- La imagen que vamos a usar para previsualizar -->
                                <img id="imagenPrevisualizacion" src="/images/users/default-placeholder.png" alt="Imagen" class="product_img">
                                    <!-- script -->
                                    <%- include('../partials/preview.ejs') %>
                                    <!-- /script -->

                                <div class="media-linea"></div>
                            </div>
						</div>
					</div>
				</fieldset>

				<div class="linea"></div>
				<div class="linea"></div>

				<!-- ■ Botones -->
                <div class="buttons-block" id="but">
					<!-- ■ Botón de enviar que nos lleve a la página principal -->
                    <button class="button-form" type="submit" id="ok">Guardar producto</button>

                    <div class="linea"></div>

					<!-- ■ Cancelar, y volver a Detalle de Producto -->
					<button class="button-form" type="button" onclick="window.history.go(-1)" id="cancel">Cancelar</button>

                </div>
				<div class="linea"></div>
			</form>
		</div>
	</div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
</body>
</html>