<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Detalle del producto'}) %>
    <!-- /Head -->

    <body>
        <!-- refresh productDetail -->
        
        <!-- /refresh productDetail -->

        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <!-- Main (Producto Detail) -->
        <main class="main-productDetail">
            <div class="container-products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Categoría: <%= product.categorias.nombre%> </h2>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="bar-ccb" id="cc-bar"></div>
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <img src="/images/products/<%= product.imagen %>" alt="Imagen del producto" class="product-detail-img">
                            <p class="product-detail-description">
                                <b>Descripción:</b> <%= product.descripcion %>
                            </p>
                        </div>


                        <div class="col-12 col-lg-4">
                            <article class="product-detail-info">
                                <h2 class="product-detail-title"><%= product.nombre%></h2>

                                <% let finalPrice = (product.precio* ((100 - product.descuento) / 100)).toFixed(0)
                                %>

                                <p class="product-detail-price small">
                                    <span class="tach">$<%= toThousand(product.precio) %></span>
                                        <b class="off">/  <%= product.descuento%>% Off</b>



                                    </p>
                                    <p class="product-detail-price">
                                        $<%= toThousand(finalPrice) %>
                                    </p>

                                <ul class="actions-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-truck-fast"></i>
                                        <p>Envíos a todo el país</p>
                                    </li>
                                </ul>

                                <a href="#" class="buy-now-button">Comprar</a>
                                <hr>
                                <div class="butons">
                                    <a href="/products/create" class="action-button create">Agregar</a>
                                    <a href="/products/edit/<%= product.id %>" class="action-button edit">Editar</a>
                                    <form action="/products/list/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                        <button type="submit" class="action-button delete">Eliminar</button>
                                    </form>
                                </div>

                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
        <!-- /Footer -->
    </body>
</html>