<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs', {title: 'Productos por categoría '}) %>
<!-- /Head -->

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- /Header -->

    <!-- Main (Productos) -->
    <main class="main-index">
            <div class="linea"></div>
            <h3 class="titulo-main-index"><%= cat %></h3>
            <div class="bar-ccb" id="cc-bar"></div>
            <div class="linea"></div>
            
            <!-- Sección: Productos por categoría -->
            <section class="sec-products">

                <div class="products">

                    <% if (productsRemix.length > 0) {
                        productsRemix.forEach(function(product){ 
			        	let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0);
                    %>

                        <!-- Card -->
                        <article class="last-tec">
                            <a href="/products/productDetail/<%= product.id %>">
                                
                                <div class="linea-blanca"></div>
                                <div class="main-card-img">
                                    <img src="/images/products/<%= product.image %>" alt="Imagen del producto" class="product_img">
                                </div>
                                <div class="linea-blanca"></div>
                            </a>
                            <div class="bar-ggr" id="gg-bar"></div>

                            <div class="main-article">
                                <div class="min-row">
                                    <button class="buttAgregar2">
                                        <i class="fa-solid fa-cart-plus" id="crtct" style="font-size: 1.2em;"></i>
                                    </button>
                                    <p class="discount"><%= product.discount %>% off</p>
                                </div>
                                <p class="price">$<%= toThousand(finalPrice) %></p>
                                <h4 class="description2"><%= product.name %></h4>
                            </div>
                        </article>

                        
                        <% }); %>
                        <%  let u = 4 - (productsRemix.length % 4);
                            for(let i = 0; i < u && u != 4 ; i++) {
			        	    let finalPrice = (productsNotMatch[i].price * ((100 - productsNotMatch[i].discount) / 100)).toFixed(0);
                        %>

                        <!-- Card (Completando la fila de 4)-->
                        <article class="last-tec">
                            <a href="/products/productDetail/<%= productsNotMatch[i].id %>">
                                
                                <div class="linea-blanca"></div>
                                <div class="main-card-img">
                                    <img src="/images/products/<%= productsNotMatch[i].image %>" alt="Imagen del producto" class="product_img">
                                </div>
                                <div class="linea-blanca"></div>
                            </a>
                            <div class="bar-ggr" id="gg-bar"></div>

                            <div class="main-article">
                                <div class="min-row">
                                    <button class="buttAgregar2">
                                        <i class="fa-solid fa-cart-plus" id="crtct" style="font-size: 1.2em;"></i>
                                    </button>
                                    <p class="discount"><%= productsNotMatch[i].discount %>% off</p>
                                </div>
                                <p class="price">$<%= toThousand(finalPrice) %></p>
                                <h4 class="description2"><%= productsNotMatch[i].name %></h4>
                            </div>
                        </article>
                        <% } %>

                    <% } else { %>   
                        <div class="msg bad-search">
                            <img src="/desing/iconos/sad-icon.png" alt="carita triste" />
                            <h4>Nos quedamos sin productos en esta categoría</h4>
                        </div> 
                    <% } %>
                </div>
            </section>
    </main>



    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->
</body>
</html>