<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Detalle del producto'}) %>
    <!-- /Head -->

    <body>
        <!-- Actualizar la vista!!! -->
        <% if (actualizada = false) { %>
            <script> window.location.reload(true); window.location.reload(true); </script>
            <style> body {background-color:red} </style>
            <% if (actualizada != undefined) {actualizada = true;} } %>

        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->

        <!-- Main (Producto Detail) -->
        <main class="main-productDetail">
            <div class="container-products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Categoría: <%= product.category %></h2>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="bar-ccb" id="cc-bar"></div>
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <img src="/images/products/<%= product.image %>" alt="Imagen del producto" class="product-detail-img">
                            <p class="product-detail-description">
                                <b>Descripción:</b> <%= product.description %>
                            </p>
                        </div>

                        
                        <div class="col-12 col-lg-4">
                            <article class="product-detail-info">
                                <h2 class="product-detail-title"><%= product.name %></h2>

                                <% let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
                                %>
                                
                                <p class="product-detail-price small">
                                    <span class="tach">$<%= toThousand(product.price) %></span>
                                        <b class="off">/  <%= product.discount %>% Off</b>
    


                                    </p>
                                    <p class="product-detail-price">
                                        $<%= toThousand(finalPrice) %>
                                    </p>
        
                                <ul class="actions-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-truck-fast"></i>
                                        <p>Envíos a todo el país</p>
                                    </li>
                                </ul>
        
                                <a href="#" class="buy-now-button">Comprar</a>
                                <hr>
                                <div class="butons">
                                    <a href="/products/productCreateForm" class="action-button create">Agregar</a>
                                    <a href="/products/productEditForm/<%= product.id %>" class="action-button edit">Editar</a>
                                    <form action="/products/productsList/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                        <button type="submit" class="action-button delete">Eliminar</button>
                                    </form>
                                </div>
                                
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
        <!-- /Footer -->
    </body>
</html>