<!DOCTYPE html>
<html lang="es">
    <!-- Head -->
    <%- include('../partials/head.ejs', {title: 'Inicio'}) %>
    <!-- /Head -->
    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- /Header -->
        <!-- Main (Productos) -->
        <main class="main-index">
            <div class="linea"></div>
            <h3 class="titulo-main-index">Lo último en tecnología</h3>
            <div class="bar-ccb" id="cc-bar"></div>
            <div class="linea"></div>
            <!-- Sección: Equipate con lo último en tecnología -->
            <section class="sec-products">
            <div class="products">
            <% if (productsLast.length > 0) { %>
                <% for(let i = 0; (i < (4 * filaLast)) && (i < productsLast.length); i++){
                    let finalPrice = (productsLast[i].price * ((100 - productsLast[i].discount) / 100)).toFixed(0)
                %>
                    <!-- Card -->
                    <article class="last-tec">
                        <a href="/products/productDetail/<%=productsLast[i].id%>">
                            <div class="linea-blanca"></div>
                            <div class="main-card-img">
                                <img src="images/products/<%=productsLast[i].image%>" alt="Imagen del producto" class="product_img">
                            </div>
                            <div class="linea-blanca"></div>
                        </a>
                        <div class="bar-ggr" id="gg-bar"></div>
                        <div class="main-article">
                            <div class="min-row">
                                    <button class="buttAgregar2">
                                        <i class="fa-solid fa-cart-plus" id="crtct" style="font-size: 1.2em;"></i>
                                    </button>
                                    <p class="discount"><%=productsLast[i].discount%>% off</p>
                            </div>
                            <p class="price">$<%= toThousand(finalPrice)%></p>
                            <h4 class="description2"><%=productsLast[i].name%></h4>
                        </div>
                    </article>
                <% } %>
                <%  let u = 4 - (productsLast.length % 4);
                            for(let i = 0; i < u && u != 4 ; i++) { %>
                            <!-- GhostCard (Completando la fila de 4)-->
                            <div class="bocadito-ghostcard"><img src="/desing/iconos/ghostcard.png"/></div>
                <% } %>
            <% } %>
            </div>
            </section>
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
            <h3 class="titulo-main-index">Ofertas</h3>
            <div class="bar-ccb" id="cc-bar"></div>
            <div class="linea"></div>
            <!-- Sección de Ofertas -->
            <section class="sec-offers">
                <div class="products">
                    <!-- Card -->
                    <% if (productsOffer.length > 0) { %>
                        <% for(let i = 0; (i < (4 * filaOffer)) && (i < productsOffer.length); i++){
                        let finalPrice = (productsOffer[i].price * ((100 - productsOffer[i].discount) / 100)).toFixed(0)
                        %>
                            <!-- Card -->
                            <article class="last-tec">
                                <a href="/products/productDetail/<%=productsOffer[i].id%>">
                                    <div class="linea-blanca"></div>
                                    <div class="main-card-img">
                                        <img src="images/products/<%=productsOffer[i].image%>" alt="Benq Led Monitor 144hz" class="product_img">
                                    </div>
                                    <div class="linea-blanca"></div>
                                </a>
                                <div class="bar-ggr" id="gg-bar"></div>
                                <div class="main-article">
                                    <p class="discount"><%=productsOffer[i].discount%>% off</p>
                                    <p class="price">$<%=finalPrice%></p>
                                    <span class="sell">
                                        <button class="buttAgregar">
                                            <i class="fa-solid fa-cart-shopping" id="crtct" style="font-size: .8em;"></i>
                                        </button>
                                        <div class="media-linea"></div>
                                        <button class="buttComprar">
                                            <a href="/products/productDetail/<%=productsOffer[i].id%>" class=" button buttComprar"></a>
                                        </button>
                                    </span>
                                    <h4 class="description"><%=productsOffer[i].name%></h4>
                                </div>
                            </article>
                        <% } %>
                        <%  let u = 4 - (productsOffer.length % 4);
                            for(let i = 0; i < u && u != 4 ; i++) { %>
                            <!-- GhostCard (Completando la fila de 4)-->
                            <div class="bocadito-ghostcard"><img src="/desing/iconos/ghostcard.png"/></div>
                        <% } %>
                    <% } else { %>
                                <div class="msg bad-search">
                                    <img src="/desing/iconos/sad-icon.png" alt="carita triste" />
                                     <h4>No existen productos cargados</h4>
                                </div>
                    <% } %>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
        <!-- /Footer -->
    </body>
</html>