<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head.ejs', {title: 'Registro de usuario'}) %>
<!-- /Head -->

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- /Header -->

    <!-- Main (Registro) -->
    <main class="container-main">
       
        <section class="container-users">
        <!-- Si llegan variables, y dentro de ellas está errores -->
        <form class="register" action="/users/register" method="POST" enctype="multipart/form-data">
            <fieldset class="register-profile">
                <legend> Registro de Usuarios: </legend>
                <!-- row 1 -->
                <div class="row-form">
                    <div class="row-pill-form p50">
                        <label for="surname">Apellido</label>
                        <input type="text" name="apellido" id="apellido" class="form-label"
                            value="<%= locals.old && old.apellido ? old.apellido : '' %>"  
                            placeholder="Tu apellido..." >
                         <%  if (locals.errores && errores.apellido) { %>
							<div class="text-danger">
						    	<%= errores.apellido.msg %>
							</div>
						<% } %>
                           
                    </div>
                    <div class="row-pill-form p50">
                        <label for="name">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-label"
                            value="<%= locals.old && old.nombre ? old.nombre : '' %>" 
                            placeholder="Tu nombre..." >   
                            <%  if (locals.errores && errores.nombre) { %>
								<div class="text-danger">
									<%= errores.nombre.msg %>
								</div>
							<% } %> 
                    </div>
                    <div class="row-pill-form p40">
                        <label for="user">Nombre de usuario</label>
                        <input type="text" name="usuario" id="usuario" class="form-label"
                            value="<%= locals.old && old.usuario ? old.usuario : '' %>" 
                            placeholder="Nombre de usuario..." > 
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row-form">
                    <div class="row-pill-form p50">
                        <label for="email">Correo electrónico</label>
                        <input type="text" name="email" id="email" class="form-label"
                            value="<%= locals.old && old.email ? old.email : '' %>" 
                            placeholder="Tu e-mail..." >
                            <%  if (locals.errores && errores.email) { %>
								<div class="text-danger">
									<%= errores.email.msg %>
								</div>
							<% }else if (locals.error) { %> 
                                <div class="text-danger">
									<%= error %>
								</div>
                            <% } %> 
                    </div>
                    <div class="row-pill-form p50">
                        <label for="document">D.N.I.</label>
                        <input type="text" name="dni" id="dni" class="form-label"
                            value="<%= locals.old && old.dni ? old.dni : '' %>" 
                            placeholder="Tu DNI..." >  
                            <%  if (locals.errores && errores.dni) { %>
								<div class="text-danger">
									<%= errores.dni.msg %>
								</div>
							<% } %> 
                    </div>
                </div>

                <!-- row 3 -->
                <div class="row-form">
                    <div class="form-crud form-crud-md">
                        <label for="address">Direccion</label>
                        <input type="text" name="direccion" id="direccion" class="form-input2"
                            value="<%= locals.old && old.direccion ? old.direccion : '' %>" 
                            placeholder="Tu domicilio" >  
                    </div>
                    <div class="row-pill-form p25">
                        <label for="city">Provincia</label>
                        <select name="provincia" id="provincia" class="form-input">
                            <option value="<%= locals.old && old.provincias ? old.provincia : '' %>">
                            <%= locals.old && old.prov ? old.prov.replace('_', ' ') : 'Seleccioná tu provincia...'%></option>
							<% for (const provincia of provincias){ %>
                                <option value="<%= provincia.id%>"><%= provincia.provincia%></option>
                            <% } %>
						</select>
                    </div>
                    <div class="row-pill-form p25">
                        <label for="prov">Localidad</label>
						<select name="localidad" id="localidad" class="form-input">
                            <option value="<%= locals.old && old.localidad ? old.localidad : '' %>">
                            <%= locals.old && old.prov ? old.prov.replace('_', ' ') : 'Seleccioná tu localidad...'%></option>
							<% for (const localidad of localidades){ %>
                                <option value="<%= localidad.id%>"><%= localidad.localidad%></option>
                            <% } %>
						</select>
                    </div>
                </div>

                <!-- row 4 -->
                <div class="row-form">
                    <div class="row-pill-form p50">
                        <label for="cp">Código Postal </label>
                        <input type="text" name="cp" id="cp" class="form-input2"
                            value="<%= locals.old && old.cp ? old.cp : '' %>" 
                            placeholder="Tu código postal" >

                        <label for="phone">Teléfono </label>
                        <input type="tel" name="telefono" id="telefono" class="form-input2"
                            value="<%= locals.old && old.telefono ? old.telefono : '' %>" 
                            placeholder="Tu teléfono" >

                        <label for="avatar">Foto de perfil </label>
                        <input type="file" name="avatar" id="seleccionCuser" accept="image/*">
                        <%  if (locals.errores && errores.avatar) { %>
                            <div class="text-danger">
                                <%= errores.avatar.msg %>
                            </div>
                        <% } %> 
                    </div>

                    <div class="row-pill-form p50">

                        <div class="img-detail">
                            <div class="media-linea"></div>

                            <!-- La imagen que vamos a usar para previsualizar -->
                            <img id="userCreate" name="avatar" alt="Imagen" class="user_img"
                            <% if (locals.image) { %>
                                src="/images/users/<%= image %>"
                            <% } else { %>
                                src="/images/users/user.png"
                            <% } %> >
                              

                            <div class="media-linea"></div>
                        </div>
                    </div>        

                    <div class="row-pill-form p50">    
                        <label for="contrasenia">Contraseña</label>
                        <input type="password" name="contrasenia" id="contrasenia" class="form-input2"
                            placeholder="Ingresar contraseña" >
                            <%  if (locals.errores && errores.contrasenia) { %>
								<div class="text-danger">
									<%= errores.contrasenia.msg %>
								</div>
							<% } %> 

                        <label for="repeatContrasenia"> Confirmar contraseña</label>
                        <input type="password" name="repeatContrasenia" id="repeatContrasenia" class="form-input2"
                            placeholder="Confirmar contraseña">

                        <button class="container-buttons" type="submit" id="button-in">Crear cuenta</button>
                        <button class="container-buttons" type="button" onclick="window.history.go(-1)" id="button-reset">Cancelar</button>
                    </div>
                </div>    
            </fieldset>

            <div class="media-linea"></div>
            <div class="container-link">
                <p id="link"><a href="./login"> ¿Ya tenés una cuenta?<span id="IniSesion"> Iniciar Sesión</span></a></p>
            </div>
        </form>
    </section>
</main>

<!-- Footer -->
<%- include('../partials/footer.ejs') %>
<!-- /Footer -->
</body>
</html>