<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head.ejs', {title: 'Registro de usuario'}) %>
<!-- /Head -->

<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <!-- /Header -->

    <!-- Main (Registro) -->
    <main class="container-main">
        <section class="container-users">
        <!-- Si llegan variables, y dentro de ellas está errores -->
        <% if (locals && locals.errores) { %>
            <!-- Se muestran los errores (Registro) -->
            <% errores.forEach(error => { %>
                <p class="msg_errors"> <%= error.msg %> </p>
            <% }); %>
        <% } %>

        <!-- Form (Registro) -->
        <% if (locals.old && image) { %>
            <form class="register" action="/users/userRegister/<%= image %>" method="POST" enctype="multipart/form-data">
        <% } else { let image = 'image'; %>
            <form class="register" action="/users/userRegister/<%= image %>" method="POST" enctype="multipart/form-data">
        <% } %>

            <fieldset class="register-profile">
                <legend> Registro de Usuarios: </legend>
                <!-- row 1 -->
                <div class="row-form">
                    <div class="row-pill-form p40">
                        <label for="surname">Apellido *</label>
                        <input type="text" name="surname" id="surname" class="form-input2"
                            value="<%= locals.old && old.surname ? old.surname : '' %>" 
                            placeholder="Tu apellido..." required>
                    </div>
                    <div class="row-pill-form p100">
                        <label for="name">Nombre *</label>
                        <input type="text" name="name" id="name" class="form-input2"
                            value="<%= locals.old && old.name ? old.name : '' %>" 
                            placeholder="Tu nombre..." required>    
                    </div>
                    <div class="row-pill-form p40">
                        <label for="user">Nombre de usuario *</label>
                        <input type="text" name="user" id="user" class="form-input2"
                            value="<%= locals.old && old.user ? old.user : '' %>" 
                            placeholder="Nombre de usuario..." required> 
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row-form">
                    <div class="row-pill-form p40">
                        <label for="mail">Correo electrónico * </label>
                        <input type="email" name="mail" id="mail" class="form-input2"
                            value="<%= locals.old && old.mail ? old.mail : '' %>" 
                            placeholder="Tu e-mail..." required> 
                    </div>
                    <div class="row-pill-form p40">
                        <label for="birth">Fecha de nacimiento *</label>
                        <input type="date" name="birth" id="birth" class="form-input2"
                        value="<%= locals.old && old.birth ? old.birth : '' %>"
                            placeholder="Tu fecha de nacimiento..." required>
                        <% if (locals.old && old.prov) { %>
                            <!-- <script> document.getElementById('birth').format('DD-MM-YYYY') = old.birth </script> -->
                        <% } %>
                    </div>
                    <div class="row-pill-form p40">
                        <label for="document">Documento *</label>
                        <input type="text" name="document" id="document" class="form-input2"
                            value="<%= locals.old && old.document ? old.document : '' %>" 
                            pattern="[0-9]{7,8}" title="Revisá que sea correcto el número de DNI y que vaya sin signos de puntación" 
                            placeholder="Tu DNI..." required>  
                    </div>
                </div>

                <!-- row 3 -->
                <div class="row-form">
                    <div class="row-pill-form p50">
                        <label for="address">Domicilio *</label>
                        <input type="text" name="address" id="address" class="form-input2"
                            value="<%= locals.old && old.address ? old.address : '' %>" 
                            placeholder="Tu domicilio" required>  
                    </div>
                    <div class="row-pill-form p25">
                        <label for="city">Ciudad *</label>
                        <input type="text" name="city" id="city" class="form-input2"
                            value="<%= locals.old && old.city ? old.city : '' %>" 
                            placeholder="Tu ciudad" required>
                    </div>
                    <div class="row-pill-form p25">
                        <label for="prov">Provincia *</label>
						<select name="prov" id="prov" class="form-input">
                            <option value="<%= locals.old && old.prov ? old.prov : '' %>">
                            <%= locals.old && old.prov ? old.prov.replace('_', ' ') : 'Seleccioná tu provincia...'%></option>
							<option value="Buenos_Aires">Buenos Aires</option>
							<option value="Ciudad_Autónoma_de_Buenos_Aires">Ciudad Autónoma de Buenos Aires</option>
							<option value="Catamarca">Catamarca</option>
							<option value="Chaco">Chaco</option>
							<option value="Chubut">Chubut</option>
                            <option value="Córdoba">Córdoba</option>
							<option value="Corrientes">Corrientes</option>
							<option value="Entre_Ríos">Entre Ríos</option>
							<option value="Formosa">Formosa</option>
							<option value="Jujuy">Jujuy</option>
                            <option value="La_Pampa">La Pampa</option>
							<option value="La_Rioja">La Rioja</option>
							<option value="Mendoza">Mendoza</option>
							<option value="Misiones">Misiones</option>
							<option value="Neuquén">Neuquén</option>
                            <option value="Río_Negro">Río Negro</option>
							<option value="Salta">Salta</option>
							<option value="San_Juan">San Juan</option>
							<option value="San_Luis">San Luis</option>
							<option value="Santa_Cruz">Santa Cruz</option>
                            <option value="Santa_Fe">Santa Fe</option>
							<option value="Santiago_del_Estero">Santiago del Estero</option>
							<option value="Tierra_del_Fuego,_Antártida_e_Islas_del_Atlántico_Sur">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
							<option value="Tucumán">Tucumán</option>
						</select>
                    </div>
                </div>

                <!-- row 4 -->
                <div class="row-form">
                    <div class="row-pill-form p50">
                        <label for="cp">Código Postal *</label>
                        <input type="text" name="cp" id="cp" class="form-input2"
                            value="<%= locals.old && old.cp ? old.cp : '' %>" 
                            placeholder="Tu código postal" required>

                        <label for="phone">Teléfono * </label>
                        <input type="tel" name="phone" id="phone" class="form-input2"
                            value="<%= locals.old && old.phone ? old.phone : '' %>" 
                            placeholder="Tu teléfono" required>

                        <label for="avatar">Foto de perfil </label>
                        <input type="file" name="avatar" id="seleccionArchivos" accept="image/*">
                    </div>

                    <div class="row-pill-form p50">

                        <div class="img-detail">
                            <div class="media-linea"></div>

                            <!-- La imagen que vamos a usar para previsualizar -->
                            <img id="userPrevisualizacion" alt="Imagen" class="user_img"
                            <% if (locals.old) { %>
                                src="/images/users/<%= image %>"
                            <% } else { %>
                                src="/desing/iconos/user.png"
                            <% } %> >
                                <!-- script -->
                                <%- include('../partials/previewUsr.ejs') %>
                                <!-- /script -->

                            <div class="media-linea"></div>
                        </div>
                    </div>        

                    <div class="row-pill-form p50">    
                        <label for="password">Contraseña *</label>
                        <input type="password" name="password" id="password" class="form-input2"
                            placeholder="Ingresar contraseña" required>

                        <label for="repeatPassword"> Confirmar contraseña * </label>
                        <input type="password" name="repeatPassword" id="repeatPassword" class="form-input2"
                            placeholder="Confirmar contraseña" required>

                        <button class="container-buttons" type="submit" id="button-register">Crear cuenta</button>
                        <button class="container-buttons" type="button" onclick="window.history.go(-1)" id="button-reset">Cancelar</button>
                    </div>
                </div>    
            </fieldset>

            <div class="media-linea"></div>
            <div class="container-link">
                <p id="link"><a href="./userLogin"> ¿Ya tenés una cuenta?<span id="IniSesion"> Iniciar Sesión</span></a></p>
            </div>
        </form>
    </section>
</main>

<!-- Footer -->
<%- include('../partials/footer.ejs') %>
<!-- /Footer -->
</body>
</html>