<!DOCTYPE html>
<html lang="en">
    
<!-- Head -->
<%- include('../../partials/head.ejs', {title: 'Administracion Promos' }) %>
    <!-- /Head -->

    <body>
        <!-- Header -->
        <%- include('../../partials/header.ejs') %>
            <!-- /Header -->

            <!-- Main (Promos) -->
            <main class="main-index">
                <div class="linea"></div>
                <div class="row justify-content-between">
                    <div class="col-xs-12 col-md-6">
                        <h3 class="titulo-main-index" style=" margin-left: -13%">Editar: Promociones</h3>
                        
                    </div>
                    <div class="col-md-4 mb-8" style=" margin-right: -29%">
                        <a href="/products/promos/list"  class="btn btn-outline-light" style="background-color: #5900ff9b" >Cancelar</a>
                    </div>
                   
                    

                </div>
                <div class="bar-ccb" id="cc-bar"></div>
                <div class="linea"></div>

                <!-- Sección: Productos encontrados -->
                <section class="sec-products">
                   
                    <div id="promos" class="form-group table-responsive">
                        <table class="table " id="lista-promos">
                            <thead class="table-secondary">
                                <tr style="text-align: center">
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Guardar</th>
                                   
                                </tr>

                            </thead>
                            
                                <tbody  style="text-align: center">
                                    
                                    <form  action="/products/promos/edit/<%=promo.id%>" method="POST">
                                    
                                    <td style="width: 50%">
                                        
                                            <input type="text" id="name" name="name" value="<%= promo.nombre %>" class="form-control ">
                                    </td>
                                    <td>
                                       
                                         <button type="submit"  id = "ok" class="fa-solid fa-floppy-disk" style="color: rgb(225, 162, 15);border:none; padding:none; width: none; background-color: transparent; box-shadow: none; font-size: 25px ;"></button>
                                        
                                    </td>
                                </form>
                                  
                                      
                                </tbody>
                              

                        </table>
                    </div>






                </section>

                <div class="linea"></div>
            </main>



            <!-- Footer -->
            <%- include('../../partials/footer.ejs') %>
                <!-- /Footer -->
    </body>

</html>
